/*
Project name: CST-236 ECommerce Store App
    Version:   1.0
Module name:  formStyle.css
    Version:   2.0
Author:		 Marc Teixeira
Date:         11/16/2019
Description: 
   
*/

/*Form styles for both registration and login*/
.loginForm {
    width: 47%;
    border: 3px solid black;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    text-align: left;
}

/*wrapper style for catalog listings*/
.catalogTableWrapper {
    display: block;
}

/*Table style for catalog row listings*/
.catalogRow {
	
	vertical-align: top;
}

/*Catalog card styling*/
.card{
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  	max-width: 300px;
  	display: inline-block;
  	text-align: center;
  	font-family: arial;
  	margin: 20px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  background-color: white;
  text-align: center;
  cursor: pointer;
}

/*Catalog hover effect*/
.card button:hover{
	background-color: #d3dae6;
}

/* Catalog price styling*/
.price {
  color: grey;
  font-size: 22px;
}

/*Form style for searching*/
.searchForm {
	width: 50%;
	border: 3px solid black;
	vertical-align: top;
	margin: auto;
	padding: 10px;
	text-align: left;
}

/*search result table styles*/
.searchResultList {
	border-collapse: collapse;
	padding: 15px;
	width: 75%;
	margin: auto;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/*search results table header styles*/
.searchResultList th {
	background-color: #696868;
	border: 1px solid #696868;
	color: white;
	padding: 20px;
}

/*search results table cell styles*/
.searchResultList td {
	border: 1px solid #696868;
	padding: 10px;
}

/*style effects for each row in a search result*/
.searchResultList tr:hover td{
	background-color: #d6d6d4;
	cursor: pointer;
}

/*form wrapper for the search forms*/
.searchFormWrapper {
	display: flex;
}

/*Form wrapper to display them together on one line*/
.loginFormWrapper{
	text-align: justify;
	width: 100%;
}

/*Main Message styling*/
.message{
	text-align: center;
	margin: auto;
	width: 50%;
}

/*Main message buttonjs styles*/
.message button{
	margin: 10px;
}


/*styling for each field in the registration form and login page except the submit button*/
input[type=text], input[type=password], input[type=email], select{
	width: 50%;
	padding: 5px;
	border: 2px solid #40a5a2;
}

/*styling for the submit button*/
input[type=submit]{
	width: 50%;
	padding: 5px;
	display: block;
	margin: 0 auto;
	background-color: #4CAF50;
	color: white;
	border-color: #4CAF50;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

/*shadow and color effects for submit button*/
input[type=submit]:hover{
	background-color: white;
  	color: #4CAF50;
  	box-shadow: none;
}

/*red coloring for text of error messages*/
.error {
	color: #FF0000;
}

/*general styles for the body of each page*/
body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/*wrapper for content on the page*/
.wrapper {
  padding-bottom: 4rem;
}

/*header for all pages*/
.header {
  padding: 1px;
  text-align: center;
  background: #2f93a8;
  color: white;
}

/*footer for all pages*/
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 3rem;
  padding: 1px;
  text-align: center;
  background: #2f93a8;
  color: white;
}

/*navigation bar text*/
.navbar p {
  color: white;
  text-decoration: none;
  text-align: center;
  padding-right: 10px;
}

/*navigation bar that goes under header for all pages*/
.navbar {
  display: flex;
  background-color: #2f93a8;
}

/*button styling for links on navigation bar*/
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/*hover effects for links on navigation bar*/
.navbar a:hover {
  background-color: #ddd !important;
  color: black;
}





